/* Effect */
.active {
    transition: transform 50ms ease-in-out;

    &:active {
        transform: scale(0.97);
    }
}
/* Effect */

/* Headings */
.heading {
    background: linear-gradient(to right, rgb(0, 20, 196), rgb(0, 203, 218));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    &:is(h1) {
        font-family: Verdana, sans-serif;
        font-weight: 900;
    }

    &:is(h5, h6) {
        color: var(--mantine-color-dimmed);
    }
}

.layoutTitle {
    &:is(h1) {
        font-family: Verdana, sans-serif;
        font-weight: 900;
    }

    &:is(h5, h6) {
        color: var(--mantine-color-dimmed);
    }
}
/* Headings */

/* Buttons */
.navButton {
    background-color: transparent;
    color: #000000;
}

.navButton:hover {
    background-color: #4c5897;
    color: white;
}

.authButton {
    width: 55%;
}
/* Buttons */
